@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@400;500;600;700&display=swap');

:root {
    --yellow: rgb(255, 205, 22);
}

*{
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: var(--yellow);
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.logo {
    min-width: 230px;
    max-width: 400px;
}

span {
    text-align: center;
    font-size: 1.3em;
    max-width: 500px;
}

table{
    border-collapse: collapse;
    background-color: var(--yellow);
    margin-bottom: 5px;
    width: 800px;
}

table tr td {
    border: 1px solid black;
    padding: 10px 20px;
    font-family: 'Victor Mono', monospace;
    font-size: 1em;
    font-weight: bold;
}

button {
    font-size: 1.1em;
    outline: none;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 6px;
    background-color: black;
    color: var(--yellow);
    transition: .2s;
}

#btnResposta, #closeQuest{
    font-size: 1.3em;
    padding: 10px;
    border-radius: 0;
}

button:hover, #responder:hover {
    background-color: rgb(48, 48, 48);
    cursor: pointer;
}

#fade, #fade2, #modalTable, #modalQuest {
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

#fade, #fade2 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 5;
}

#modalTable {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    overflow-x: auto;
    max-width: 90%;
}

#modalQuest {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 50px;
    border-radius: 6px;
    max-width: 90%;
    background-color: var(--yellow);
}

#modalTable.hide, #fade.hide,#fade2.hide, #modalQuest.hide {
    opacity: 0;
    pointer-events: none;
}

#modalTable.hide, #modalQuest.hide{
    top: 0;
}

p {
    font-size: 1.4em;
}

input {
    font-size: 1.3em;
    padding: 10px;
    margin: 5px 0;
    padding-left: 15px;
    outline: none;
    border: none;
    background-color: black;
    color: var(--yellow);
}

#responder {
    transition: .2s;
}